<p>
  <b>English name:</b>
  <%=h @language.english %>
</p>

<p>
  <b>Local local:</b>
  <%=h @language.local %>
</p>


<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
